
.preview-page-container {
	display: grid;
	grid-template-columns: auto auto;
	gap: 0.3em;
}

.preview-page-container section {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
}

.preview-page {

	color: black;
	background-color: white;
	/*border: solid 1px black;*/
	overflow: hidden;

	position: relative;

}
